/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.navbar-container {
    display: flex;
    margin: 10px 5px;
}

.grow-list{
    display: flex;
    justify-content: space-between;
}

.list{
    display: flex;
    list-style: none;
}


ul li {
    margin: 10px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container:first-child {
    width: 50%;
    right: 20px;
}

